# CAP rizing-unit-base
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
package-lock.json
haa-java/target/*
!haa-java/target/java-xsahaa.war

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

*.iml
*.flattened-pom.xml

# IDEs
.vscode
# .idea

# Other
.DS_Store
*.orig
*.log
.vscode/cds.js
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
